<%= form_for @user, :url => reset_password_url do |f| %>
<p>
<%= f.password_field :password %>
</p>
<p>
<%= f.password_field :password_confirmation, :text => "Confirm Password" %>
</p>
<%= f.submit "Reset Password and Log in" %>
<% end %>
