@import "mixins.css.scss";

#groups{
  .group{
    margin: 2em 0;
    .group_header{
      margin-bottom: 0;
      padding: 15px;
       h3{
         float: left;
       }
       .span4 {
         @include right-aligned-button;
       }
    }

    .group_body{
      background-color: white;
      table.group_status{
        width: 50%;
        tr.inactive{
          color: #CCC;
          font-size: 0.9em;
        }
        tr.self td{
          @include highlight-background;
        }
      }
    }
  }
}