@import "mixins.css.scss";

#groups{
  .group{
    margin: 2em 0;
    .group_header{
       background: none repeat scroll 0 0 #EEEEEE;
       border: 1px solid #BBBBBB;
       padding: 7px 0;
       width: 100%;
       @include top-rounded-corners(5px);
    }
  }
}