@import "mixins.css.scss";

.inner_content{
  padding-top: 10px;

  .inner_header {
    margin-bottom: 20px;
    .span4 {
      @include right-aligned-button;
    }
  }
}

.topbar-wrapper{
  .dropdown-menu.groups{
    width: 500px;
  }
}

ul.columnize{
  padding-top: 6px;
}

.label.important a{
  color: white;
}