@import "mixins.css.scss";

.inner_content{
  padding-top: 10px;

  .inner_header {
    margin-bottom: 20px;
    .span4 {
      @include right-aligned-button;
    }
  }
}

.topbar-wrapper{
  .dropdown-menu.groups{
    width: 500px;
  }
}

ul.columnize,{
  padding-top: 6px;
}

.label.important a{
  color: white;
}

.input-prepend{
  label.add-on{
    color: #404040
  }
  margin-bottom: 5px;
}

.modal form{
  margin-bottom: 0px;
  label{
    width: 100px;
  }
  .input{
    margin-left: 120px;
  }
  .modal-body{
    padding-bottom: 0px;
  }
  .modal-footer{
    margin-top: 0px;
    padding-left: 135px;
    .btn{
      float: left;
      margin-right: 5px;
      margin-left: 0px;
    }
  }
}

#loading_image{
  text-align: center;
  padding: 15px 0;
}

.captcha{
  width: 442px;
}