<% @title = "Forgot Password" %>
<% @page_action = {:name => "Register", :url => new_user_path} %>

<p>
  <% if !flash[:notice].nil? %>
    <%= flash[:notice] %>
  <% else %>
    Please enter the email address you used to register.
  <% end %>
</p>
<%= form_for @user_session, :as => :user_session, :url => forgot_password_url do |f| %>
  <%= f.text_field :email %>
  <br />
  <%= f.submit "Send Password Reset Link" %>
<% end %>