<% @title = "Forgot Password" %>

<p>
    Please enter the email address you used to register.
</p>
<%= form_for @user_session, :as => :user_session, :url => forgot_password_url do |f| %>
  <%= f.text_field :email %>
  <%= f.submit "Send Password Reset Link" %>
<% end %>